.signin {

  position: relative;

  left: 0;
  background: #000;

  height: 100vh;
}

.signin__container {
  width: 1232px;
  margin: 0 auto;
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100%;
}

.signin-content {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 30px;

  border-radius: 10px;

  background: #ffffff;
  padding: 60px 110px;
}

h3 {
  font-size: 30px
}

.inputs__signin {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.exist-account {
  color: cornflowerblue;
  text-decoration: none;
  transition: all .5s;

  &:hover{
    color: #94add7;
    text-decoration: underline;

  }

}

