.categories__items__page {
  background: #ffffff;
  width: 100%;
}

.categories__items__content {
  padding: 50px 0;
  min-height: 600px;
}

.categories__items__container {
  width: 1232px;
  margin: 0 auto;
  color: #000000;
}

.categories-products__items {
  display: flex;
  flex-wrap: wrap;

  gap: 40px;
  align-items: center;
  justify-content: center;

}