.popular-category {
  padding: 50px 0 180px 0 ;
}

.popular-category__container {
  width: 1232px;
  margin: 0 auto;
}


.popular-category__content {
}

.popular-category__title {

  text-align: center;

  color: #1E212C;

  margin: 0 0 60px 0;

  font-family: Lato;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
}

.popular-category__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.popular-category__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popular-category__item-subtitle {
  color: #1E212C;
  text-align: center;

  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.popular-category__item-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;


}