.idea
.vs


\LuxeLooks\LuxeLooks\LuxeLooks.Service\bin\Debug\net7.0\*
\LuxeLooks\LuxeLooks\LuxeLooks.Service\obj\Debug\net7.0\*

\LuxeLooks\LuxeLooks\LuxeLooks.Domain\bin\Debug\net7.0\*
\LuxeLooks\LuxeLooks\LuxeLooks.Domain\obj\Debug\net7.0\*

\LuxeLooks\LuxeLooks\LuxeLooks.DataManagment\bin\Debug\net7.0\*
\LuxeLooks\LuxeLooks\LuxeLooks.DataManagment\obj\Debug\net7.0\*

\LuxeLooks\LuxeLooks\LuxeLooks\bin\Debug\net7.0\*
\LuxeLooks\LuxeLooks\LuxeLooks\obj\Debug\net7.0\*