.idea
.vs

/LuxeLooks/bin/*
/LuxeLooks/obj/*

/LuxeLooks.Domain/bin/*
/LuxeLooks.Domain/obj/*

/LuxeLooks.Service/bin/*
/LuxeLooks.Service/obj/*

/LuxeLooks.DataManagment/bin/*
/LuxeLooks.DataManagment/obj/*

