.footer {
  background: #1E212C;
  width: 100vw ;
}

.footer__container {
  width: 1232px;
  margin: 0 auto;

}


.footer__items {
  display: flex;

  gap: 50px;

  padding: 60px 0;
}

.footer__item {
  cursor: default;
}


.footer__menu__item__link {

  color: var(--white, #FFF);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.6;
}

.footer__menu__item__title {
  color: var(--white, #FFF);
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  opacity: 1;
}


.footer__menu__item__subtitle {
  color: var(--white, #FFF);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.footer__contact {
  color: var(--white, #FFF);

  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.6;
}

.footer__rules {
  display: flex;
  padding: 0 0 32px 60px;

}

.footer__rules__title {

  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: var(--white, #FFF);

  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

.footer__rules img {
  margin: 0 5px;
}