.bag-page {
  min-height: 100%;
  padding: 30px 0 100px 0;

  margin: 10px 0;
}

.bag-container {
  width: 1232px;
  margin: 0 auto;
}

.bag-content {
  display: flex;

  justify-content: space-between;

}

.bag-items {
  max-width: 750px;
}

.bag-content-title {

  margin-bottom: 20px;

  color: #1E212C;
  font-family: Lato;
  font-size: 38px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;

}

.bag__elements {
  //background: #F4F5F6;
  //padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

}

.bag-info__user {
  border-radius: 4px;
  border: 1px solid #E5E8ED;
  background:  #FFF;

  max-height: 98px;
  min-width: 350px;

  padding: 20px;

  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);

  margin-top: 30px;
}

.bag-info__user__name {

  color:#424551;

  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */

}

.bag-info__user__email {

  color: #787A80;

  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;

}

.btn__confirm-order {
  border-radius: 4px;
  background: #17696A;

  width: 390px;
  padding: 0 40px;
  border: 0;

  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 325%;
  letter-spacing: 0.5px;

  margin-top: 30px;

  cursor: pointer;

  transition: all .5s;

  &:hover {
    background: #5a8f91;
  }

}