.man__page {
  background: #000;
  position: relative;
  margin-top: -100px;
  height: 100vh;
  width: 100vw;
  padding: 100px 0;
}


.man__container {
  width: 1232px;
  margin: 0 auto;
  color: #cccccc;
}
