@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;600&display=swap');

.App {
  background: #4f4f4f;
  height: 100vh;
  font-family: Lato;
}

.container {
  width: 1232px;
  margin: 0 auto;
}

li {
  text-decoration: #D7DADD;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


