@using AppleStore.Domain.DeviceType
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AppleStore.Domain.Entity.Device
@{
    Layout = "_AdminLayout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Добавление устройства</title>
</head>
<body>
<div>
    <form asp-action="Create" method="post">
        <label asp-for="Name">Название:</label>
        <input asp-for="Name" class="form-control"/>
        <label asp-for="Description">Описание:</label>
        <input asp-for="Description" class="form-control"/>
        <label asp-for="Price">Цена:</label>
        <input asp-for="Price" class="form-control"/>
        <label asp-for="ImageUrl">URL на картинку:</label>
        <input asp-for="ImageUrl" class="form-control"/>
        <label asp-for="Type">Тип</label>
        <select asp-for="Type" class="form-control">
            @foreach (var type in Enum.GetValues(typeof(DeviceType)))
            {
                <option value="@type">@type</option>
            }
        </select>
        <button type="submit">Создать Девайс</button>
    </form>
</div>
</body>
</html>